@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem; /* Adjust this value to match your fixed header's height */
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.3s ease-out forwards;
  }

  .animate-slide-up-fade-in {
    animation: slideUpFadeIn 0.4s ease-out forwards;
  }

  /* Custom utility to hide number input spin buttons */
  .no-spin-buttons::-webkit-outer-spin-button,
  .no-spin-buttons::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Safari */
  }

  .no-spin-buttons {
    -moz-appearance: textfield; /* Firefox */
  }
}

@layer components {
  .custom-select-arrow {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23A3A3A3'%3e%3cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 1.5em 1.5em;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
